{% extends "layout.twig" %}

{% block pagetitle %}{{ name }} — ShopShopList{% endblock %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
  <div class="list section">
    <ul>
    {% for entry in entries %}
      <li class="{{ entry.done }}">
        {% if entry.count %}
          <span class="count">{{ entry.count }}</span>
        {% endif %}
        <span class="name">{{ entry.name }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% if lists|length > 1 %}
    <div class="lists section">
      <h2>Other lists</h2>
      <ul>
        {% for list in lists %}
          {% if list != name %}
          <li>
            <a href="{{ path('list', {'name': list}) }}">{{ list }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}