{% extends "layout.twig" %}

{% block pagetitle %}{{ name }} — ShopShopList{% endblock %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
  <div class="list section">
    <ul>
    {% for entry in entries %}
      <li class="{{ entry.done }}">
        {% if entry.count %}
          <span class="count">{{ entry.count }}</span>
        {% endif %}
        <span class="name">{{ entry.name }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% if lists|length > 1 %}
    <div class="lists section">
      <h2>Other lists</h2>
      <ul>
        {% for list in lists %}
          {% if list != name %}
          <li>
            <a href="{{ path('list', {'name': list}) }}">{{ list }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="sharing section">
    <h2>Sharing</h2>
    <p>
      Bookmark this page or share the following URL for instant access to your lists:
      <a href="{{ app.request.uri }}">{{ app.request.uri }}</a>
    </p>
    <p>
      Concerned someone is spying on your lists?
    </p>
    <a class="button" href="{{ path('reset') }}">Reset sharing</a>
    <p class="small">
      Resetting disables access to your lists from previously stored URLs. If you have bookmarked this page you need to update the bookmark as well.
    </p>
  </div>
{% endblock %}